
body{
    font-family: verdana;
}

h1, h2 {
    color: crimson;
    margin: 15px;
    font-size: 50px;
}
p{
    margin: 20px 10px; <!--avstanden rundt et element til neste element -->
    border: solid black 2px; <!-- witdt style color --> <!-- border-radius gjør bildet sånn rund i kantene --> <!--box-shadow gir elemntet en skygge, da trenger man width style colour minus flytter den andre veien-->
    padding: 5px;
    width: 500px;

}
a {
    display: inline-block;
    padding: 15px;

    background-color: coral;
    color: #FFFFFF;
    text-decoration: none;
    width: 150px;
    text-align: center;

    margin: 10px;
    border-right-color: white;
    border-right-width: 2px;
    border-right-style: solid;
}

<!-- usynelig vegg rundt bildet / tingen -->